.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 3px solid white;
    align-items: center;
    
    
}

h1 {
    color:white;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 70px;
    font-family: 'Nanum Brush Script', cursive;
}

body {
    background-color: black;
    
}

.txt {
     z-index: 1000;
     color: white;
     text-align: start;
     font-size: 25px;
     font-family:cursive;
}

 .c-img {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
     backdrop-filter: blur(20px);
}

 .img-2 {
     color:white;
     padding-top: 30px;
     padding-bottom: 30px;
     z-index: 1000;
 }
     
.main {
   background-image: url(../img/akatsuki-logo-akatsuki-wallpaper-preview.jpg) ;
    background-repeat: no-repeat;
    background-size: 120vw;
   
   
 }
